[package]
name = "kernel"
version = "0.1.0"
edition = "2021"
authors = ["OS Developer"]

[lib]
crate-type = ["staticlib"]
path = "src/lib.rs"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
opt-level = 2
lto = true
